#intro {
	width: 600px;
	height: 600px;
	padding-right: 40px;
	padding-left: 200px;
	padding-top: -350px;
}

#regform {
	height: 600px;	
}

.form-group {
	width: 300px;
}

.reg {
	padding-top: 20px;
}

#desc {
	font-size: 15px;
	font-family: monospace;
}

.heading {
	font-family: fantasy;
}

