{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>LeBoo</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}style.css" />
</head>
<body>
<div id="container">
  <ul>
<li> <a href="#">Home</a></li>
<li><a href="#">Products</a></li>
<li><a href="#">I Lent</a></li>
<li><a href="#">I Borrowed</a></li> 
<li><a style="background-image: none;" href="#">Contact</a></li>
</ul>

  <div id="main">
  
  </div>
</div>
</html>
