body  {
background: #F4F4F4;
margin: 0;
}

#container { 
padding: 40px 140px 0 140px;
margin: 0 auto;
background: #FFFFFF;
}

#header { 
padding: 0 0 20px 40px;
} 

#header a {
color: #121212;
text-decoration: none;
font-size: 30px; 
font-family: "Myriad Pro", "Arial Narrow";
}

ul {
list-style-type: none;
background-image: url(navi_bg.png);
height: 80px;
width: 863px;
margin: auto;
}

li {
float: left;
}

ul a:hover {
color: #ADD8E6;
}

ul a {
background-image: url(navi_bg_divider.png);
background-repeat: no-repeat;
background-position: right;
padding-right: 22px;
padding-left: 22px;
display: block;
line-height: 80px;
text-decoration: none;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 21px;
color: #371C1C;
}

#menu {
background-color: #3b7607; 
padding: 6px 0 6px 40px;
}

#menu a {
color: #c5d6db;
text-decoration: none; 
font-size: 14px; 
font-family: "Arial Narrow", "Myriad Pro";
}

#menu a:hover {
color: #ecf2f3;
}

#sidebar {
float: left;
width: 120px;
padding: 30px 0 0 40px;
margin: 0;
}

h1 {
margin: 0px;
color: #869843; 
font-size:24px; 
font-family: "Arial Narrow", "Myriad Pro"; 
font-weight: normal;
}

h2 {
color: #3b7687;
font-size: 15px; 
margin: 20px 0 5px 0;
}

#main { 
margin: 0 0 0 180px;
padding: 35px 40px 30px 0;
color: #444444;
font-family: "Georgia";
font-size: 13px; 
line-height: 18px;
text-align: justify;
} 

#main a {
color: #3b7687; 
text-decoration: none;
}

#main a:hover {
color: #444444;
}


.separator {
font-size:11px;
color:#FFFFFF;
}

#search, #submit
	float: left;
{
}

#search
{
	padding: 25px 19px;
	height: 23px;
	width: 280px;
	border: 1px solid #a4c3ca;
	font: normal 13px 'trebuchet MS', arial, helvetica;
	background: #f1f1f1;
	
	-moz-border-radius: 50px 3px 3px 50px;
	 border-radius: 50px 3px 3px 50px;
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
/* ----------------------- */

#submit
{		
	background: #6cbb6b;
	background-image: -moz-linear-gradient(#95d788, #6cbb6b);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
	
	-moz-border-radius: 3px 50px 50px 3px;
	border-radius: 3px 50px 50px 3px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #7eba7c #578e57 #447d43;
	
	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 35px;
	margin: 0 0 0 10px;
        padding: 0;
	width: 90px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #23441e;
	
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover
{		
	background: #95d788;
	background-image: -moz-linear-gradient(#6cbb6b, #95d788);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}	

#submit:active
{		
	background: #95d788;
	outline: none;
   
	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner
{
       border: 0;  /* Small centering fix for Firefox */
}		